<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>kcos后台管理</title>
  <link rel="icon" type="image/x-icon" href="../assets/y14.jpg">
</head>

<body>
  <div id="root"></div>
</body>
</html>
